
/* makes title "section" slides white as well */
.reveal .state-background {
  background: #FFFFFF !important;
}

.reveal h1 {
  color: #555555 !important;
  text-shadow: none !important;
}

.reveal h2, h3 ,h4 ,h5, h6, p {
  color: #555555 !important;
}

/* stops title hyphenating if too long */
.reveal h1, .reveal h2, .reveal h3 {
  word-wrap: normal;
  -moz-hyphens: none;
}

/* default placement of images is center */
.midcenter {
    position: fixed;
    top: 50%;
    left: 50%;
}

.footer {
    color: black !important;
    background: #E8E8E8 !important;
    position: fixed !important; 
    top: 90% !important;
    text-align: center !important;
    height: 135px; !important
    margin-left: auto;
    margin-right: auto;
    width: 95% !important;
}

.stevecolor .reveal .state-background {
  background: #F6FBFC !important;
} 

.photobanner p {
  text-align: left;
  display: block;
  padding-bottom: 20px;
 }
 
.photobanner img {
  float: left;
  height: 100px;
  width: 100px;
 }
 
.photobanner span {
  font-size: 25px;
  padding-left: 10px;
  vertical-align: middle;
 }
 
.photobanner .item2 {
  font-size: 25px;
  padding-left: 10px;
  vertical-align: middle;
  align: left;
 }

/* inserts lower level branding */
.lowerbranding {
    color: #555555;
    text-align: left;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 10px;
    z-index: 100;
    font-size: 85%;
}